/protected/vendor
/protected/bin
/public/components
/public/assets
/public/img/tools/*
.idea/
/protected/runtime/*
/protected/config/env.php
/protected/config/debug
/protected/config/local.php
/protected/controllers/DevController.php
/protected/tests/codeception/_support/_generated/
/protected/tests/codeception/_output/protected/runtime/10.html
