/protected/vendor
/protected/bin
/public/components
/public/assets
/public/img/tools/*
.idea/
/protected/runtime/debug/
/protected/runtime/logs/
/protected/runtime/HTML/
/protected/runtime/URI/
/protected/config/env.php
/protected/config/debug
/protected/config/local.php
/protected/controllers/DevController.php
/protected/tests/codeception/_support/_generated/
/protected/tests/codeception/_output/