
parameters:
    level: 1
    bootstrapFiles:
      - 'tests/constants.php'
    dynamicConstantNames:
      - CONSOLE
    excludes_analyse:
      - protected/config/common.php
      - protected/config/console.php
      - protected/config/web.php
      - protected/console/DevController.php
      - protected/components/Form.php
      - protected/widgets/FormButtonsWidget.php
      - */tests/*
    checkMaybeUndefinedVariables: true
    ignoreErrors:
        #- message: '#^Variable .* might not be defined\.$#'
        #  path: '*/views/*'
        #- message: '#^Variable .* might not be defined\.$#'
        #  path: '*/mail/*'