
parameters:
    level: 1
    bootstrapFiles:
      - 'tests/constants.php'
    dynamicConstantNames:
      - CONSOLE
    excludes_analyse:
      - protected/config/common.php
      - protected/config/console.php
      - protected/config/web.php
      - */tests/*
    checkMaybeUndefinedVariables: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: '#^Method .*::(down|up|safeUp|safeDown)\(\) should return bool but return statement is missing\.$#'
          path: 'protected/migrations/*'
