
parameters:
    level: 1
    bootstrapFiles:
      - 'tests/constants.php'
    paths:
      - protected
      #- tests
    dynamicConstantNames:
      - CONSOLE
    excludePaths:
      - protected/config/common.php
      - protected/config/console.php
      - protected/config/web.php
      - protected/models/ar/*/*/*
      - protected/widgets/*/*
      - protected/*/*/*/*
      - protected/*/*/*
      - protected/config/*
      - microservices/*/*/*
      - microservices/*/*
      - microservices/*/*/*/*
    checkMaybeUndefinedVariables: true
    reportUnmatchedIgnoredErrors: false

includes:
    - microservices/common/phpstan.neon
    - microservices/api/phpstan.neon
