/*
*
* Contains styles usefull for every admin pages
*
*/


@import "partials/_variables";
@import "partials/_summary";
@import "partials/_leaflet";

//TODO Remove when imports will be done
@import "map";
@import "common";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");

.title {
  grid-area: title;
  position: relative;

  span.header {
    display: block;
    font-size: 42px;
    line-height: 52px;
    font-weight: 200;
    color: $header-color;
    border-bottom: 5px solid $highlight-background-color;
  }
}

.no-title .iziToast-wrapper-topRight {
  top: 50px;
}

.iziToast-wrapper-topRight {
  top: 100px;
}

.breadcrumb {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background-color: $header-background-color;
  padding: 10px 0;
  margin: 0;
  color: $breadcrumbs-color;
  list-style-type: none;
  display: flex;
  align-items: center;

  li {
    display: flex;
    align-items: center;
    &:not(:last-child):after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: " \f054 ";
      margin: 0 7px;
    }
    &:not(.active) {
      a {
        font-weight: 400;
      }
    }
    a {
      color: $breadcrumbs-color;
      text-decoration: none;
      transition: color $animation-duration;
      font-size: 18px;
      line-height: 18px;
      &:hover {
        transition: color $animation-duration;
        color: white;
      }
    }

    & + li:before {
      content: "";
      padding: 0;
      margin: 0;
    }
  }
}

/**/
.filters {
  background-color: white;
  grid-area: filters;
  margin-bottom: 0;
  padding: 15px 10px;
  font-size: 18px;
  --height: 30px;
  display: block;

  .filter-items {
    display: flex;
    align-items: center;
    float: left;
    height: 43px;

    em {
      font-style: normal;
      color: #222229;
      margin-left: 5px;
      font-weight: 600;
    }
    .count {
      vertical-align: middle;
      padding: 2px 20px;
      border-left: solid 1px #b7b7b7;
      color: #7c7c7c;
      font-weight: 300;
      display: flex;
      align-items: center;
      &:first-of-type {
        border-left: none !important;
      }

      span.text {
        margin-left: 5px;
      }
    }
  }

  .btn.icon-edit {
    float: right;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10000;
    background-color: #707176;
    width: 40px;
    height: 40px;
    border: none;
    color: #eeeeee;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #707176;
    &:hover {
      background: #eeeeee;
      color: #707176;
    }
    &:before {
      content: "\e909";
    }
  }

  #filter-expand {
    float: right;
    background: #bfbec4;
    border: 1px solid #bfbec4;
    color: white;
    &:hover {
      background: white;
      border: 1px solid #bfbec4;
      color: #bfbec4;
    }
  }

  &.expanded {
    display: inline-block;
    #filter-expand {
      background: #838383;
      border: 1px solid #838383;
      &:hover {
        background: white;
        border: 1px solid #bfbec4;
        color: #bfbec4;
      }
    }
    .advanced {
      display: inline-block;
    }
  }
  .advanced {
    display: none;
    margin-top: 10px;
    float: none;
    clear: both;
    max-height: 600px;

    .filter_search {
      display: flex;
      align-items: center;
      width: 100%;
      width: -webkit-fill-available;
      min-height: $height;
      border-radius: 0;
      padding: 30px 0;
      margin: 0 30px 30px;
      text-align: left;
      color: #212529;
      border-bottom: 1px solid #ccc;

      #search-filter {
        width: 50%;
        float: left;
        background-color: #ececec;
        color: #212529;
        border-radius: 30px;
        border: none;
        outline: 0;
        font-family: "Source Sans Pro";
        &:after {
          content: "\f002";
          font-smoothing: never;
          -webkit-font-smoothing: none;
          margin-right: 0.3em;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: #76c62f;
          background-color: inherit;
        }
      }

      .hint {
        font-size: 12px;
        width: 50%;
        float: left;
        margin: 0;
        color: #212529;
        font-family: "Source Sans Pro";
      }
    }
    .list {
      display: inline-block;
      width: 100%;
      float: left;
      clear: both;
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      .row {
        div {
          float: left;
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
        }
        .col-sm-3 {
          width: 33%;
          float: left;
        }
        .col-sm-6 {
          width: 50%;
          float: left;
        }

        .col-md-2 {
          width: 16.6%;
          float: left;
        }

        .col-md-10 {
          width: 83.3%;
          float: left;
        }

        input#rf-date {
          background: transparent;
          padding: 0 12px;
          height: 32px;
          line-height: 1.428571429;
          margin-top: 0;
          min-width: 5em;
          color: black;
          border-color: #cccccc;
          outline: none;
          box-sizing: border-box;
          font-size: 100%;
        }
      }
    }

    .buttons {
      width: 100%;
      float: left;
      clear: both;
      padding: 20px 30px 0px;
      display: flex;
      align-items: center;
    }
  }

  .filter {
    input::-webkit-inner-spin-button,
    input::-webkit-calendar-picker-indicator {
      opacity: 1;
    }

    &.filter_where:before {
      /* https://fontawesome.com/icons/globe?style=solid */
      content: "";
    }

    &.filter_when:before {
      /* https://fontawesome.com/icons/calendar-alt?style=solid */
      content: "";
    }

    &.filter_type:before {
      /* https://fontawesome.com/icons/hospital?style=regular */
      content: "";
    }

    &.filter_advanced:before {
      /* https://fontawesome.com/icons/filter?style=solid */
      content: "";
    }
  }
}

.select2-dropdown {
  z-index: 10051;
}

.select2-container--krajee
  .select2-selection--multiple
  .select2-selection__choice__remove {
  margin: 0 0 0 3px;
}

.chart {
  width: 100px;
  height: 100px;
}

.content {
  background-color: $main-background-color;
  grid-area: main;
  position: relative;
  &.maximized {
    position: fixed;
    left: 0;
    padding: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000000;
  }

  & > .element {
    position: relative;
    border-radius: 3px;
    min-width: 0;
    /*min-height: 0;*/
  }
}

.map {
  border: 3px solid white;
  height: 400px;
}
/**/
.prime_widgets_chart_Chart {
  position: relative;
  background-color: white;
  .leaflet-drag-target,
  a {
    color: black;
    transition: color $animation-duration;
    &:hover {
      transition: color $animation-duration;
      color: #0078a8;
    }
  }
}

.table {
  background-color: white;
  padding: 1em;
  overflow: auto;
  h1 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 700;
    color: $header-background-color;
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  color: $background-color;
  button {
    color: inherit;
    height: $height;
    border: none;
    background: none;
  }
}

/**
2 Column layout, menu above filters.
*/
@media (min-width: 600px) {
  .title {
    padding-left: $gutter-size;
  }

  .header {
    position: absolute;
    bottom: 0;
  }
  .filters {
    margin-left: $gutter-size;
    margin-right: $gutter-size;
    border-radius: 5px;
    border-top-left-radius: 0;

    > div {
      display: inline-block;
    }

    .filter {
      width: auto;
      display: inline-block;
    }
  }

  .breadcrumb {
    margin-bottom: 33px;
  }

  .content {
    padding: $gutter-size;
    padding-right: 20px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    grid-row-gap: $gutter-size;
    grid-column-gap: $gutter-size;
  }
  .map {
    grid-column: span 1;
    grid-row: span 2;
  }
  .table {
    grid-column: span 2;
    grid-row: span 2;
  }
}

/**
3 column layout.
*/
@media (min-width: 800px) {
  .content {
    grid-template-columns: 0.6fr 1fr;
  }

  .map {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
  }
  .table {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media (min-width: 900px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 33%));
  }

  .prime_widgets_chart_Chart,
  .table {
    grid-row: span 2;
  }
}

@media (min-width: 1130px) {
  .prime_widgets_chart_Chart,
  .table {
    grid-row: span 1;
  }
}

@media (min-width: 1460px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/**
Menu stuff
*/

.NestedSelect input::after {
  color: $highlight-background-color;
}

.NestedSelect.inline {
  display: block;
}
.NestedSelect.inline .options {
  position: inherit;
}

.NestedSelect.inline span.current {
  display: none;
}
/*
MODAL
*/

body[data-modal] {
  overflow: hidden;
  user-select: none;
}

.filter-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  max-width: 500px;
  max-height: 100vh;
  padding: 15px 15px 15px 15px;

  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1200;
  background-color: rgba(198, 198, 198, 1);
}

.close {
  border: none;
  float: right;
  width: 20px;
  height: 20px;
  /*top: 15px;*/
  /*right: 15px;*/
  background-color: rgba(1, 1, 1, 0);
}

.close::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  font-size: 1.2rem;
}

.close + * {
  margin-top: 30px;
}

@media (min-width: 600px) {
  .filter-modal {
    top: 100px;
    bottom: 100px;
    border: 2px solid $highlight-background-color;
  }
}

.filter-modal label {
  display: block;
}

body[data-modal] .filter-modal {
  display: block;
}

body[data-modal]:after {
  display: block;
  z-index: 1100;
  content: " ";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.7;
}

.hidden {
  display: none !important;
}

.filter-modal .filter {
  display: block;
}

.status {
  text-align: center;
  display: block;
  background-color: #22222a;
  height: $status-height;

  .status-content {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    line-height: $status-height;
    grid-area: status;
    font-size: 16px;
    .icon {
      margin: 0 5px 0 0;
    }
    .value {
      color: #92929b;
      font-size: 14px;
      margin: 0 0 0 5px;
    }
  }
}
