@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

body {
    font-family: "Source Sans Pro", sans-serif;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    text-align: center;
    /*font-weight: bold;*/
    font-size: 2em;
    margin-bottom: 20px;
}
