/**
 * This CSS file is used by the css3-grid layout.
 * It is NOT the world map view (where all projects are shown)
 */

html {
    --header-background-color: #42424b;
    --header-color: white;
    --background-color: #878787;
    --primary-color: #4177c1;
    --highlight-background-color: #5791e1;
    --highlight-color: white;
    --main-background-color: #e0e0e0;
    --content-background-color: white;
    --breadcrumbs-color: #878787;
    --primary-button-hover-color: #3f86e6;
    --header-light-background-color: #4f4e54;
    --header-light-color: white;
    --gutter-size: 10px;
    --dark-background-color: #424348;
    --darker-background-color: #424242;
    --darker-color: var(--dark-color);
    --dark-color: white;
    --status-height: 30px;
}

/**
 Box sizing reset
 */

html {
    box-sizing: border-box;
    width: 100vw;
}

*, *:before, *:after {
    box-sizing: inherit;
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.filter {
    text-align: left;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    color: #212529;
    /*padding-top: 10px;*/
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    background-color: white;
    min-height: var(--height);
}

.filter>* {
    background-color: transparent;
    border: none;
    outline: 0;
}

.filter>*:first-child {
    cursor: pointer;
}

.filter input::-webkit-inner-spin-button, .filter input::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.filter input::-webkit-calendar-picker-indicator {
    /*opacity: 0;*/
    /*display:none;*/
}

.filter_search {
    padding: 20px 10px 30px 10px;
    margin: 0;
    display: block;
}

.filter_search .icon {
    color: var(--highlight-background-color);
    background-color: inherit;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.filter_search .input-container {
    width: 100%;
    margin: 0;
    position: relative;
}

.filter_search .input-container input {
    border: none;
    background: #ececec;
    height: 40px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px;
    color: #4f4e54;
    width: 100%;
    position: relative;
    font-weight: 300;
}

.filter .hint {
    font-size: 10px;
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    line-height: 12px;
    vertical-align: middle;
}

.user-menu {
    --username-color: #fefefe;
    --username-color-dark: #42424b;
    --email-color: #bdbdbd;
    --email-color-dark: #868686;
    padding: 10px;
    grid-area: user;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    font-size: 20px;
    color: var(--header-color);
    background-color: var(--header-background-color);
}

.user-menu > div {
    display: inline-block;
    margin: 0 0 0 10px;
}

.user-menu span {
    font-size: 11px;
}

.user-menu a, .user-menu a:visited {
    text-decoration: inherit;
    color: inherit;
    display: inline-block;
    border-left: 1px solid var(--email-color-dark);
    padding-left: 10px;
    margin-left: 10px;
}

.user-menu a:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

.user-menu a:hover {
    color: var(--email-color);
}

body.no-title .user-menu a, body.no-title .user-menu a:visited {
    color: var(--username-color-dark);
}

body.no-title .user-menu a:hover {
    color: black;
}

.user-menu img {
    max-height: 50px;
    border-radius: 50%;
}

.user-menu .name {
    color: var(--username-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    border: none;
    margin: 0;
    padding: 0;
}

.user-menu .email {
    color: var(--email-color);
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
}

body.no-title .user-menu {
    z-index: 10001;
    background-color: transparent;
}

body.no-title .user-menu .name {
    color: var(--username-color-dark);
}

body.no-title .user-menu .email {
    color: var(--email-color-dark);
}

.title {
    grid-area: title;
    position: relative;
}

.no-title .iziToast-wrapper-topRight {
    top: 50px;
}

.iziToast-wrapper-topRight {
    top: 100px;
}

body.no-title .title {
    display: none;
}

span.header {
    max-width: 100%;
    overflow: hidden;
    font-weight: 300;
    white-space: nowrap;
    font-size: 25px;
    display: block;
    color: var(--header-color);
    text-overflow: ellipsis;
    background-color: var(--header-background-color);
    border-bottom: 5px solid var(--highlight-background-color);
    padding-left: var(--gutter-size);
}

.breadcrumb {
    background-color: var(--header-background-color);
    padding: var(--gutter-size);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--breadcrumbs-color);
    list-style-type: none;
    border-radius: 0;
}

.breadcrumb a:not(:hover), .breadcrumb a:not(:hover):visited, .breadcrumb a:not(:hover):active {
    color: var(--breadcrumbs-color);
    text-decoration: none;
}

.breadcrumb li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 13px;
}

.breadcrumb .icon {
    margin-left: 5px;
    margin-right: 5px;
    height: 12px;
}

.breadcrumb li:last-child .icon {
    display: none;
}

/**/

.filters {
    background-color: white;
    grid-area: filters;
    padding: 15px 0 10px;
    font-size: 18px;
    --height: 30px;
    -moz-box-shadow: -5px 4px 6px rgba(50, 50, 50, .15);
    -webkit-box-shadow: -5px 4px 6px rgba(50, 50, 50, .15);
    box-shadow: -5px 4px 6px rgba(50, 50, 50, .15);
}

.filters .filter-items {
    display: inline-block;
    align-items: center;
    margin-left: 10px;
}

.select2-dropdown {
    z-index: 10051;
}

.filters a, .filters button {
    margin: 10px;
    display: inline-block;
}

.filters a span {
    background: #222222;
    padding: 4px 10px;
    border-radius: 20px;
    margin-left: 5px;
}
.filters a:hover span {
    color: white !important;
}

.filters .row {
    clear: both;
}

.filters .row>div {
    float: left;
    --width: 12;
    width: calc(100% / 12 * var(--width));
}

.filters .row>.col-sm-3 {
    --width: 3
}

.filters .row>.col-sm-6 {
    --width: 12
}

.filters .row>.col-sm-6 .control-label {
    padding: 20px 0 5px 0;
    display: block;
    font-size: 15px;
    line-height: 17px;
}

.filters .row>.col-md-2 {
    --width: 2
}

.filters .row>.col-md-10 {
    --width: 10
}

.filters .row input[type='text'], .filters .row input[type='date'] {
    background: transparent;
    width: 100%;
    padding: 0 12px;
    height: 32px;
    line-height: 1.428571429;
    margin-top: 0;
    min-width: 5em;
    color: #999;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}

.filters .advanced {
    display: none;
    width: 100%;
    border-top: 1px solid #ddd;
    background: #f6f6f6;
    padding-bottom: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10001;
    max-height: 100vh;
    overflow: hidden;
    margin: 10px 0;
    -moz-box-shadow: -5px 4px 6px rgba(50, 50, 50, .15);
    -webkit-box-shadow: -5px 4px 6px rgba(50, 50, 50, .15);
    box-shadow: -5px 4px 6px rgba(50, 50, 50, .15);
}

.filters.expanded {
    position: relative;
}

.filters.expanded .advanced {
    display: block;
}

.filters.expanded .filterlist {
    padding: 10px 20px 40px;
    margin: 0 0 10px;
    font-size: 14px;
    background: white;
    display: inherit;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
}

.select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    margin: 0px 0 0 3px;
}

.filters .count svg {
    vertical-align: middle;
    font-size: 1.2em;
}

.filters .count {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    border-left: none;
    color: #919191;
    display: block;
    font-size: 17px;
    line-height: 17px;
}

.filters em {
    font-style: normal;
    color: black;
    font-weight: bold;
}

.filters em::before {
    content: " "
}

.chart {
    width: 100px;
    height: 100px;
}

.content {
    background-color: var(--main-background-color);
    grid-area: main;
    position: relative;
}

.content.maximized {
    position: fixed;
    left: 0;
    padding: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000000;
}

.content>.element {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
    border-radius: 3px;
    min-width: 0;
}

.content>.element.table {
    display: block;
}

.content>.element canvas {
    object-fit: contain !important;
    padding: 0;
    margin: 0;
}

.content>.element:not(.map) canvas {
    max-width: 160px;
    max-height: 150px;
}

.content>.element.map .leaflet-control-layers p {
    max-width: 200px;
    font-size: 1.15em !important;
}

.content>.element .legend-html {
    margin: 0;
    background: white;
    padding: 5px 3px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content>.element .legend-title {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 7px;
    font-weight: bold;
    max-width: 160px;
    width: fit-content;
}

.content>.element .legend-list {
    margin: 0;
    padding: 0;
    width: fit-content;
    display: flex;
}

.content>.element .tooltip {
    z-index: 9999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content>.element .tooltip table {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 6px 3px !important;
    display: block;
    border-radius: 3px;
}

.content>.element .tooltip table td {
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    color: white;
    border: none;
}

.content>.element .tooltip .chartjs-tooltip-key {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 3px;
}

.content>.element .legend-list .column {
    margin-right: 2px;
}

.content>.element .legend-list .column:last-child {
    margin-right: 0;
}

.content>.element .legend-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.content>.element .legend-item .label {
    width: fit-content;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.2px;
    line-break: auto;
}

.content>.element .legend-item .label span {
    display: none;
}

.content>.element .legend-item div.color {
    margin-right: 7px;
    height: 10px;
    width: 10px;
    display: block;
}

.map {
    border: 3px solid white;
    height: 400px;
}

/**/

.prime_widgets_chart_Chart {
    position: relative;
    background-color: white;
}

.table {
    background-color: white;
    padding: 1em;
    overflow: auto;
}

.table h1 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--header-background-color);
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    color: var(--background-color);
}

.buttons button {
    color: inherit;
    height: var(--height);
    border: none;
    background: none;
}

.FavoriteButton {
    display: block;
    margin: auto;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.table button.FavoriteButton svg {
    fill: white;
    stroke-width: 2px;
    stroke: #212529;
}

.table button.FavoriteButton.favorite svg {
    fill: #212529;
}

body {
    color: #212529;
    font-family: "Source Sans Pro";
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    min-width: 100%;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto minmax(400px, 1fr);
    grid-template-areas: "user" "title" "sidebar" "filters" "main";
}

/**/

.filters>div {
    display: block;
    vertical-align: bottom;
}

.form-content {
    padding: 20px;
    height: min-content;
    grid-row: auto;
    grid-column: span 2;
}

.form-content.full-width {
    max-width: 100%;
    grid-column: span 4;
}

.form-element, .form-element.table {
    grid-column: span 2;
    grid-row: auto;
    min-height: 300px;
    width: auto;
    overflow: auto;
}

.form-element.table iframe {
    min-height: 300px;
}

.form-element.chart {
    grid-row: span 1;
    height: 200px;
    min-height: unset;
}

.form-element.map {
    grid-row: span 2;
    height: 400px;
    min-height: unset;
    border:none;
}

.form-content h3 {
    margin: 0 0 30px;
}

.form-bg {
    background: white;
    border-radius: 7px;
}

/**
 2 Column layout, menu above filters.
*/

@media (min-width: 600px) {
    .title {
        padding-left: var(--gutter-size);
    }
    .header {
        position: absolute;
        bottom: 0;
    }
    span.header {
        padding-left: 0;
    }
    .filters>div {
        display: inline-block;
    }
    .filters a, .filters button {
        margin: 0 10px 0 0;
        float: right;
    }
    .filters .count {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        display: inline-block;
    }
    .breadcrumb {
        background-color: transparent;
        padding-left: 0;
        margin-bottom: 33px;
    }
    .title {
        padding-left: var(--gutter-size);
    }
    .filters>div {
        display: inline-block;
    }
    body {
         background: linear-gradient(
            to bottom,
            var(--header-background-color) 0%,
            var(--header-background-color) 230px,
            var(--main-background-color) 230px,
            var(--main-background-color) 100%)
    ;
        grid-template-columns: 65vw 35vw;
        grid-template-rows: auto auto auto minmax(400px, 1fr);
        grid-template-areas: "title user" "sidebar sidebar" "filters filters" "main main";
    }
    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(200px, min-content));
        grid-auto-flow: dense;
        grid-row-gap: var(--gutter-size);
        grid-column-gap: var(--gutter-size);
    }
    .content.layout-form {
        grid-auto-rows: 1fr;
        grid-auto-columns: min-content;
        grid-template-rows: min-content;
    }

    .content.layout-admin {
        display: block;
    }
    .user-menu {
        text-align: right;
        padding: 20px 10px 20px 0;
    }
    body.no-title .user-menu {
        position: fixed;
        right: 0;
        top: 0;
    }
}

/**
 3 column layout.
*/

@media (min-width: 800px) {
    body {
        background: linear-gradient( to bottom, var(--header-background-color) 0%, var(--header-background-color) 130px, var(--main-background-color) 130px, var(--main-background-color) 100%);
        grid-template-rows: auto auto 1fr;
        grid-template-columns: auto 1fr 1fr 1fr;
         grid-template-areas:
                "sidebar title title user"
                "sidebar filters filters filters"
                "sidebar main main main"
        ;
        height: 100vh;
    }

    .filters .count~.count {
        border-left: solid 1px #7c7c7c;
        margin-left: 0px;
    }
    .filters {
        margin-left: var(--gutter-size);
        margin-right: var(--gutter-size);
        border-radius: 5px;
        border-top-left-radius: 0;
    }
    .filter_search .input-container {
        width: 47%;
        display: inline-block;
    }
    .filter .hint {
        width: 50%;
        margin: 0;
    }
    .filters .row>.col-sm-6 {
        --width: 6
    }
    .filters .row>.col-sm-6:first-child {
        padding: 0 15px 0 0;
    }
    .filters .row>.col-sm-6:last-child {
        padding: 0 0 0 15px;
    }
}

@media(min-width: 1200px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .prime_widgets_chart_Chart {
        grid-row: span 2;
    }
}

@media(min-width: 1460px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /*.prime_widgets_chart_Chart {*/
    /*grid-row: span 1;*/
    /*}*/
}

/* Tables markup */

table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    border-radius: 10px;
}

th {
    background-color: #e0e0e0;
    border-bottom: 2px solid var(--background-color);
    padding-top: 15px;
}

td {
    border: 1px solid #dee2e6;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 20px;
}

table caption, .kv-table-caption {
    margin: 0px 0 40px 0;
    padding: 0;
}

table thead tr th, .table thead tr th {
    background: #f6f6f6;
    color: #9d9d9d;
    font-family: "Source Sans Pro";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px;
}

table thead tr th a {
    width: 100%;
    position: relative;
    display: block;
    color: var(--link-color);
    text-decoration: none;
}

table thead tr th a:hover {
    color: var(--primary-button-background-color);
}

table thead tr th a.asc, table thead tr th a.desc {
    color: #4177c1;
    display: flex;
    align-items: center;
}

table thead tr th a.asc::after {
    content: "\e260";
    font-family: "Glyphicons Halflings";
    padding: 0 0 0 10px;
}

table thead tr th a.desc::after {
    content: "\e259";
    font-family: "Glyphicons Halflings";
    padding: 0 0 0 10px;
}

.table tbody tr td {
    padding: 10px 5px 10px 10px;
    font-family: "Source Sans Pro";
    color: #222222;
    vertical-align: middle;
}

.table tbody tr td a {
    display: inline-block;
}

a>svg {
    pointer-events: none;
}

.NestedSelect input::after {
    color: var(--highlight-background-color);
}

.NestedSelect.inline {
    display: block;
}

.NestedSelect.inline .options {
    position: inherit;
}

.NestedSelect.inline span.current {
    display: none;
}

/*
 MODAL
 */

body[data-modal] {
    overflow: hidden;
    user-select: none;
}

.filter-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 100vh;
    padding: 15px 15px 15px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1200;
    background-color: rgba(198, 198, 198, 1);
}

.close {
    border: none;
    float: right;
    width: 20px;
    height: 20px;
    /*top: 15px;*/
    /*right: 15px;*/
    background-color: rgba(1, 1, 1, 0);
}

.close::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    font-size: 1.2rem;
}

.close+* {
    margin-top: 30px;
}

@media (min-width: 600px) {
    .filter-modal {
        top: 100px;
        bottom: 100px;
        border: 2px solid var(--highlight-background-color);
    }
}

.filter-modal label {
    display: block;
}

body[data-modal] .filter-modal {
    display: block;
}

body[data-modal]:after {
    display: block;
    z-index: 1100;
    content: " ";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
}

.hidden {
    display: none !important;
    background-color: red;
}

.filter-modal .filter {
    display: block;
}

.status {
    display: block;
    font-weight: bold;
    line-height: var(--status-height);
    height: var(--status-height);
    grid-area: status;
    text-align: center;
    font-size: 14px;
    background-color: #22222a;
    font-size: 14px;
    /*color: #92929b;*/
}

.status .value {
    color: #92929b;
}

.form-horizontal .control-label {
    word-break: break-word;
    padding-right: 4px;
}