form .has-error input{
    border-color: var(--validation-error-color);
}


.help-block, .error-summary  {
    margin-top: 10px;
    color: var(--validation-error-color);
}

.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    background-image: none;
    border: none;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-color);

}

