/**
 * This CSS file is used by the FormBundle.
 * The CSS file should contain all formatting related to forms, it is used on the following (types of) pages:
 * - Login page
 * - Account settings
 * - Project / page / element update
 *
 */

.form {
  grid-area: login;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: var(--padding);
  position: relative;
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}

.form > * {
  flex-grow: 0;
}

.form > form {
  flex-grow: 1;
}

.help-block,
.error-summary {
  margin-top: 10px;
  color: var(--validation-error-color);
}

.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  background-image: none;
  border: none;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-color);
}

.form-control {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555 !important;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

form .has-error .form-control {
  border-color: var(--validation-error-color);
}

/*form label {*/
/*    display: none;*/
/*}*/

.control-label {
  font-size: 1em;
}

.control-label.has-star::after {
  content: "*";
  color: red;
}
.hint-block {
  font-size: 0.8em;
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-primary[form="login-form"] {
  width: 100%;
}

.form-group {
  margin-bottom: 5px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.nav-tabs {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
}
.nav-tabs li {
  overflow: hidden;
  vertical-align: middle;
}
.nav-tabs li a {
  padding: 10px;
  margin-bottom: 0;
}

.nav-tabs li.active {
  border-radius: 5px;
}

.nav-tabs li.active a {
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-color);
}

.nav-tabs li {
  display: inline-block;
}

/** Popover align form buttons to the button. */
.popover .form .btn-group {
  position: absolute;
  bottom: 0;
  left: var(--padding);
  right: var(--padding);
}
