:root {
    --primary-button-background-color: #4177c1;
    --primary-button-color: white;
    --default-button-background-color: #42424b;
    --default-button-color: white;
    --clear-button-color: #999999;
    --link-color: black;
    --validation-error-color: #d90001;
    --border-color: grey;
    --font-size: 16px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

header {
    text-align: center;
    /*font-weight: bold;*/
    font-size: 2em;
    margin-bottom: 20px;
}

body {
    font-size: var(--font-size);
    font-family: "Source Sans Pro";
}

.content {
    display: block;
    position: relative;
    padding: 10px;
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-button-background-color);
    text-decoration: none;
}

.btn {
    font-size: var(--font-size);
}

.btn-primary {
    background-color: var(--primary-button-background-color);
    background-image: none;
}

.breadcrumb>li+li::before {
    display: none;
}

.btn {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: none;
    background-image: none;
    border: none;
    text-decoration: none;
    outline: none;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-color);
    border: 1px solid var(--primary-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: white;
    color: var(--primary-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.btn-default, .btn-default:visited {
    background-color: var(--default-button-background-color);
    color: var(--default-button-color);
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
    text-shadow: none;
}

.btn-default:hover {
    background-color: white;
    color: var(--default-button-background-color);
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.btn-white, .btn-white:visited {
    background-color: white;
    color: var(--default-button-background-color);
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
    text-shadow: none;
}

.btn-white:hover {
    background-color: var(--default-button-background-color);
    color: white;
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.btn-clear, .btn-clear:visited {
    background-color: transparent !important;
    color: var(--clear-button-color);
    border: 1px solid transparent !important;
    text-shadow: none;
    transition: color 0.2s, border 0.2s;
}

.btn-clear:hover {
    color: var(--primary-button-background-color);
    border: 1px solid var(--primary-button-background-color) !important;
    transition: color 0.2s, border 0.2s;
}

@media (min-width: 800px) {
    body {
        overflow-y: hidden;
    }
    .content {
        display: block;
        overflow-y: auto;
        position: relative;
        height: 100vh;
        padding: 30px 10px 100px 10px;
    }
}

.leaflet-popup {
    --header-background-color: #212529;
    --primary-button-background-color: #4177c1;
    --primary-button-hover-color: #3f86e6;
    --color: #eeeeee;
    --background-color: #42424b;
}

.leaflet-popup .leaflet-popup-content-wrapper {
    margin: 0;
    background-color: var(--background-color);
    color: var(--color);
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
    max-width: 500px;
    border-width: 0;
    width: 400px;
    min-width: 300px;
    min-height: 350px;
    overflow: hidden;
}

.leaflet-popup .leaflet-popup-content {
    margin: 0;
    padding: 0;
}

.leaflet-popup .leaflet-popup-tip {
    background: var(--background-color);
}

.leaflet-popup .loader-wrapper {
    width: 100%;
    text-align: center;
    margin: 50px 0 0;
}

.leaflet-popup .loader-wrapper .loader-anim {
    background-position: center;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.project-summary .grid {
    display: grid;
    margin-top: 1em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto 200px auto;
    grid-template-areas: "stat stat stat stat stat stat" "line line line line line line" "chart chart chart chart chart chart" "button button button button button button";
    grid-row-gap: 1em;
    grid-column-gap: 5px;
}

.project-summary h1 {
    margin: 0;
    text-transform: uppercase;
    background-color: var(--header-background-color);
    text-align: center;
    font-weight: 500;
    color: var(--color);
    font-size: 24px;
    line-height: 26px;
    padding: 5px 10px;
    word-wrap: break-word;
}

.project-summary .stat {
    grid-area: stat;
    grid-column: span 3;
    text-align: center;
    font-weight: 300;
    border-left: 1px solid #6a696e;
    font-size: 15px;
}

.project-summary .stat:first-child {
    border-left: none !important;
}

.project-summary .stat svg {
    margin-right: 5px;
}

.project-summary .stat b {
    margin-right: 5px;
    font-size: 19px;
    line-height: 15px;
}

.project-summary hr {
    grid-area: line;
    grid-column: span 6;
    width: 100%;
    height: 1px;
    border: none;
    background: #6a696e;
    margin: 0;
}

.project-summary .chart {
    grid-area: chart;
    grid-column: span 2;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.project-summary .chart .container-chart {
    height: 115px;
    width: 100%;
}

.project-summary .chart .legend {
    margin-top: 12px;
    margin-left: 10px;
}

.project-summary .chart .legend:before {
    content: "";
    display: none;
}

.project-summary .chart .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-summary .chart .legend li {
    margin-bottom: 3px;
    color: #a5a5a5;
    font-size: 11px;
}

.project-summary .chart .legend span {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
}

.project-summary a {
    grid-area: button;
    grid-column: span 2;
    background-color: var(--primary-button-background-color);
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.project-summary a:hover {
    background-color: var(--primary-button-hover-color);
    transition: background 0.2s;
}

.project-summary a:first-of-type {
    grid-column: span 4;
}

.project-summary a:hover, .project-summary a:visited, .project-summary a:active {
    color: inherit;
    text-decoration: inherit;
}

.project-summary a svg {
    margin-right: 5px;
}