:root {
    --primary-button-background-color: #4177c1;
    --primary-button-color: white;
    --default-button-background-color: #42424b;
    --default-button-color: white;
    --clear-button-color: #999999;
    --link-color: black;
    --validation-error-color: #d90001;
    --border-color: grey;
    --font-size: 16px;

    --header-background-color: #42424b;
    --header-color: white;
    --background-color: #878787;
    --primary-color: #4177c1;

    --highlight-background-color: #5791e1;
    --highlight-color: white;

    --main-background-color: #e0e0e0;
    --content-background-color: white;
    --breadcrumbs-color: #878787;
    --primary-button-hover-color: #3f86e6;

    --header-light-background-color: #4f4e54;
    --header-light-color: white;

    --gutter-size: 10px;

    --dark-background-color: #424348;
    --darker-background-color: #424242;
    --darker-color: var(--dark-color);
    --dark-color: white;
    --status-height: 30px;
}

/**
 Box sizing reset
 */
html {
    box-sizing: border-box;
    width: 100vw;
}
*, *:before, *:after {
    box-sizing: inherit;
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

header {
    text-align: center;
    /*font-weight: bold;*/
    font-size: 2em;
    margin-bottom: 20px;
}

body {
    font-size: var(--font-size);
    font-family: "Source Sans Pro";
    margin: 0;
    min-height: 100vh;
}

.content {
    display: block;
    position: relative;
    padding: 10px;
}

a,a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-button-background-color);
    text-decoration: none;
}
.btn {
    font-size: var(--font-size);
}
.btn-primary {
    background-color: var(--primary-button-background-color);
    background-image: none;
}

.btn {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: none;
    background-image: none;
    border: none;
    text-decoration: none;
    outline: none;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-color);
    border: 1px solid var(--primary-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: white;
    color: var(--primary-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.btn-default,.btn-default:visited {
    background-color: var(--default-button-background-color);
    color: var(--default-button-color);
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
    text-shadow: none;
}

.btn-default:hover {
    background-color: white;
    color: var(--default-button-background-color);
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.btn-white,.btn-white:visited {
    background-color: white;
    color: var(--default-button-background-color);
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
    text-shadow: none;
}

.btn-white:hover {
    background-color: var(--default-button-background-color);
    color: white;
    border: 1px solid var(--default-button-background-color);
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.btn-clear,.btn-clear:visited {
    background-color: transparent !important;
    color: var(--clear-button-color);
    border: 1px solid transparent !important;
    text-shadow: none;
    transition: color 0.2s, border 0.2s;
}

.btn-clear:hover {
    color: var(--primary-button-background-color);
    border: 1px solid var(--primary-button-background-color) !important;
    transition: color 0.2s, border 0.2s;
}


.breadcrumb > li + li::before {
    display: none;
}

.user-menu {
    padding: 10px;
    padding-right: 20px;
    background-color: var(--header-background-color);
    grid-area: user;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: right;
    font-size: 30px;
    color: var(--header-color);
}

.user-menu a, .user-menu a:visited, .user-menu a:hover {
    text-decoration: inherit;
    color: inherit;
}
.user-menu img {
    max-height: 50px;
    border-radius: 50%;
}
.user-menu .name{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
}
.user-menu .email {
    color: #b3b1b8;
    font-weight: 600;
    font-size: 0.7rem;
}
.user-menu > * {
    margin-left: 5px;
}

@media (min-width: 800px) {
    body {
        overflow-y:hidden;
    }

    .content {
        display: block;
        overflow-y: auto;
        position: relative;
        height: 100vh;
        padding: 30px 10px 100px 10px;
    }
}