/**
 * This CSS file is used by the map layout.
 * The map layout is a layout that has a map as background on large screen.
 * It is NOT the world map view (where all projects are shown)
 */

body {
  margin: 0;
  min-height: 100vh;
}

.map {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.popover {
  --color: #505050;
  --padding: 40px;
  --gutter-color: #c4c4c4;
  --gutter-width: 1px;
  --dark-background-color: #424348;
  --darker-background-color: #222328;
  --dark-color: white;
  --status-height: 35px;
  --darker-color: var(--dark-color);
  --primary-button-background-color: #4177c1;
  --link-color: #4177c1;
  --primary-button-color: white;
  --border-color: #7c7b80;
  --stat-icon-color: #a09fa4;
  z-index: 400;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.popover a {
  font-size: 13px;
  color: var(--link-color);
  display: block;
  margin-bottom: 5px;
}
.popover header {
  font-size: 24px;
  color: #353535;
  font-weight: 600;
}

.popover .popover-content {
  pointer-events: auto;
  margin: 0 auto;
  max-width: 750px;
  padding-top: var(--padding);
  border-radius: 3px;
  background-color: white;
  position: relative;
  z-index: 400;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto var(--status-height);
  grid-template-areas: "intro" "login" "stat" "status";
}
.popover .popover-content a {
  font-size: 13px;
  color: var(--link-color);
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s;
}
.popover .popover-content a:hover {
  color: black;
  transition: color 0.3s;
}
.popover .popover-content .intro {
  padding: 0 var(--padding);
  color: #565656;
  grid-area: intro;
  text-align: justify;
  margin: 0;
  font-weight: 400;
}
.popover .popover-content .intro p {
  padding: 20px 0 0 0;
  line-height: 2em;
  font-size: 16px;
}
.popover .popover-content .intro img {
  max-width: 200px;
  display: block;
  margin: auto;
}
.popover .popover-content .form {
  grid-area: login;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: var(--padding);
  position: relative;
  display: flex;
  flex-direction: column;
}
.popover .form .btn-group {
  position: absolute;
  bottom: 0;
  left: var(--padding);
  right: var(--padding);
}
.popover .popover-content .form header {
  text-align: center;
  font-size: 24px;
  color: #353535;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.popover .popover-content .form > * {
  flex-grow: 0;
}
.popover .popover-content .form form {
  flex-grow: 1;
}
.popover .popover-content .form form label {
  display: none;
}
.popover .popover-content .form .actions {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.popover .popover-content .stats {
  display: flex;
  flex-wrap: wrap;
  grid-area: stat;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--dark-background-color);
}
.popover .popover-content .stats .stat {
  flex-grow: 1;
  flex-basis: 0;
  color: var(--dark-color);
  text-align: center;
  font-size: 16px;
  border-right: calc(var(--gutter-width) / 2) solid var(--gutter-color);
  /*border-left: calc(var(--gutter-width) / 2) solid var(--gutter-color);*/
}
.popover .popover-content .stats .stat:first-child {
  border-left: none;
}
.popover .popover-content .stats .stat:last-child {
  border-right: none;
}
.popover .popover-content .stats .stat svg {
  color: var(--stat-icon-color);
  font-size: 40px;
  display: block;
  margin: auto;
}
.popover .popover-content .stats .stat span {
  display: block;
  margin: auto;
  font-size: 48px;
}
.popover .popover-content .status {
  line-height: var(--status-height);
  text-align: center;
  font-size: 16px;
  grid-area: status;
  font-weight: bold;
  background-color: #222229;
  color: #ffffff;
  border-radius: 0 0 3px 3px;
}
.popover .popover-content .status .value {
  color: #92929b;
  font-size: 14px;
  font-weight: normal;
}
.popover .popover-content .status .icon {
  vertical-align: middle;
}

.popover .actions {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.popover .stats {
  display: flex;
  flex-wrap: wrap;
  grid-area: stat;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--dark-background-color);
}
.popover .stats .stat {
  flex-grow: 1;
  flex-basis: 0;
  color: var(--dark-color);
  text-align: center;
  font-size: 16px;
  border-right: calc(var(--gutter-width) / 2) solid var(--gutter-color);
  /*border-left: calc(var(--gutter-width) / 2) solid var(--gutter-color);*/
}

.popover .stats .stat:first-child {
  border-left: none;
}

.popover .stats .stat:last-child {
  border-right: none;
}

.popover .stats .stat svg {
  color: var(--stat-icon-color);
  font-size: 40px;
  display: block;
  margin: auto;
}
.popover .stats .stat span {
  display: block;
  margin: auto;
  font-size: 48px;
}

.popover .status {
  line-height: var(--status-height);
  text-align: center;
  font-size: 16px;
  grid-area: status;
  font-weight: bold;
  background-color: #222229;
  color: #ffffff;
}

.popover .status .value {
  color: #92929b;
  font-size: 14px;

  font-weight: normal;
}

.popover .status .icon {
  vertical-align: middle;
}

.popover .intro {
  padding: var(--padding);
  padding-top: 0;
  color: #565656;
  grid-area: intro;
  text-align: justify;
  margin: 0;
  line-height: 2em;
  font-size: 16px;
  padding-bottom: 0;
}

.popover .intro img {
  max-width: 200px;
  display: block;
  margin: auto;
}

@media (min-width: 710px) {
  .popover {
    padding-top: var(--padding);
    border-radius: 3px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto var(--status-height);
    grid-template-areas:
      "intro  login"
      "stat   stat"
      "status status";
  }

  .popover .popover-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto var(--status-height);
    grid-template-areas: "intro  login" "stat   stat" "status status";
  }
  .popover .popover-content .intro {
    border-right: var(--gutter-width) solid var(--gutter-color);
    margin-bottom: var(--padding);
    padding-bottom: 0;
  }
  .popover .popover-content .intro img {
    max-width: calc(100% - 64px);
  }
  .popover .popover-content .form {
    flex-grow: 0;
  }

  .popover .intro {
    border-right: var(--gutter-width) solid var(--gutter-color);
    margin-bottom: var(--padding);
    padding-bottom: 0;
  }

  .popover .form {
    flex-grow: 0;
  }

  .popover .intro img {
    max-width: calc(100% - 64px);
  }
}

@media (min-width: 710px) {
  body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .map {
    visibility: visible;
  }

  .map:after {
    content: " ";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 400;
  }
}
