/**
 * This CSS file is used by the map layout.
 * The map layout is a layout that has a map as background on large screen.
 * It is NOT the world map view (where all projects are shown)
 */

body {
    margin: 0;
    min-height: 100vh;
}

.map {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

@media (min-width: 710px) {
    body {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .map {
        visibility: visible;
    }

    .map:after {
        content: " ";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: 400;
    }
}

@media(min-width: 810px) {
    .menu {
        box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    }
}
.popover {
    --color: #505050;
    --padding: 40px;
    --gutter-color: grey;
    --gutter-width: 1px;
    --dark-background-color: #424348;
    --darker-background-color: #222328;
    --dark-color: white;
    --status-height: 35px;
    --darker-color: var(--dark-color);
    --primary-button-background-color: #4177c1;
    --link-color: #4177c1;
    --primary-button-color: white;
    --validation-error-color: #d90001;
    --border-color: #7c7b80;
    --stat-icon-color: #a09fa4;
    z-index: 2;
    background-color: white;
    display: grid;
    position: relative;
    max-width: 710px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto var(--status-height);
    grid-template-areas:
            "intro"
            "login"
            "stat"
            "status"
;

}
.popover-error {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    grid-template-areas:
        "login"
        "stat"
        "status";
}

.popover-error div.centered {
    padding-bottom: 10px !important;
}

.popover-error .btn {
    margin-top: 30px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.popover-error .btn .icon {
   margin-right: 5px;
}

.popover-error .btn-home {
    width: auto;
    color: white;
}

.popover-error .btn-home:hover {
    color:var(--primary-button-background-color);
}

.popover div.centered {
    grid-column: span 2;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
    font-size: 40px;
    color: #bbbbbb;
}

.popover div.centered span.logo {
    margin-bottom: 30px;
}

.popover div.centered span.error {
    color: #565656;
    margin-top: 5px;
    font-weight: 500;
}

.popover div.centered span.help {
    margin-top: 5px;
    font-size: 20px;
    color: #565656;
}
    
.popover div.centered > svg {
    font-size: 46px;
    margin-top: 35px;
}
.popover div.centered .logo {
    max-width: 268px;
}
.popover div.centered > * {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.form {
    grid-area: login;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: var(--padding);
    position: relative;
    display: flex;
    flex-direction: column;
}

.form > * {
    flex-grow: 0;
}

.form > form {
    flex-grow: 1;
}

.intro {
    padding: var(--padding);
    padding-top: 0;
    color: #565656;
    grid-area: intro;
    text-align: justify;
    margin: 0;
    line-height: 2em;
    font-size: 16px;
    padding-bottom: 0;
}

.intro img {
    max-width: 200px;
    display: block;
    margin: auto;
}

@media (min-width: 710px) {
    .popover {
        padding-top: var(--padding);
        border-radius: 3px;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto var(--status-height);
        grid-template-areas:
                "intro  login"
                "stat   stat"
                "status status"
    ;
    }

    .popover-error {
        grid-template-areas:
                "login  login"
                "stat   stat"
                "status status"
    ;
    }

    .intro {
        border-right: var(--gutter-width) solid var(--gutter-color);
        margin-bottom: var(--padding);
        padding-bottom: 0;
    }

    .form {

        flex-grow: 0;
    }

    .intro img {
        max-width: calc(100% - 64px);
    }
}

.actions {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}






.popover a {
    font-size: 13px;
    color: var(--link-color);
    display: block;
    margin-bottom: 5px;
}
.popover header {
    font-size: 24px;
    color: #353535;
    font-weight: 600;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    grid-area: stat;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--dark-background-color);
}
.stat {
    flex-grow: 1;
    flex-basis: 0;
    color: var(--dark-color);
    text-align: center;
    font-size: 16px;
    border-right: calc(var(--gutter-width) / 2) solid var(--gutter-color);
    /*border-left: calc(var(--gutter-width) / 2) solid var(--gutter-color);*/
}

.stat:first-child {
    border-left: none;
}

.stat:last-child {
    border-right: none;
}

.stat svg {
    color: var(--stat-icon-color);
    font-size: 40px;
    display: block;
    margin: auto;
}
.stat span {
    display: block;
    margin: auto;
    font-size: 48px;
}

.status {
    line-height: var(--status-height);
    text-align: center;
    font-size: 16px;
    grid-area: status;
    font-weight: bold;
    background-color: #222229;
    color: #ffffff;
}

.status .value {
    color: #92929b;
    font-size: 14px;


    font-weight: normal;
}

.status .icon {
    vertical-align: middle;
}
