/**
 * This CSS file is used by the map layout.
 * The map layout is a layout that has a map as background on large screen.
 * It is NOT the world map view (where all projects are shown)
 */

body {
    margin: 0;
    min-height: 100vh;
}

.map {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.popover {
    --color: #505050;
    --padding: 40px;
    --gutter-color: grey;
    --gutter-width: 1px;
    --dark-background-color: #424348;
    --darker-background-color: #222328;
    --dark-color: white;
    --status-height: 35px;
    --darker-color: var(--dark-color);
    --primary-button-background-color: #4177c1;
    --link-color: #4177c1;
    --primary-button-color: white;
    --validation-error-color: #d90001;
    --border-color: #7c7b80;
    --stat-icon-color: #a09fa4;
    z-index: 2;
    background-color: white;
    display: grid;
    position: relative;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "login" "intro";
}

.popover-error {
    max-width: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto var(--status-height);
    grid-template-areas: "login" "stat" "status";
}

.popover-error .btn {
    margin-top: 30px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.popover-error .btn .icon {
    margin-right: 5px;
}

.popover-error .btn-home {
    width: auto;
    color: white;
}

.popover-error .btn-home:hover {
    color: var(--primary-button-background-color);
}

.popover div.centered {
    grid-column: span 2;
    text-align: center;
    padding: 80px;
    font-size: 40px;
    color: #bbbbbb;
}

.popover div.centered span.logo {
    margin-bottom: 30px;
}

.popover div.centered span.error {
    color: #565656;
    margin-top: 5px;
    font-weight: 500;
}

.popover div.centered span.help {
    margin-top: 10px;
    font-size: 20px;
    color: #565656;
}

.popover div.centered>svg {
    font-size: 46px;
    margin-top: 35px;
}

.popover div.centered .logo {
    max-width: 268px;
}

.popover div.centered>* {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.popover .signup, .popover .signin {
    display: block;
}

.popover .signin .btn-primary {
    width: 100%;
}

.popover .signup span.title {
    margin-bottom: 10px;
}

.popover .signup .btn-primary {
    background: white;
    color: var(--link-color);
    margin: 0;
}

.popover .signup .btn-primary:hover {
    background: var(--link-color);
    color: white;
}

.popover hr {
    width: 100%;
    height: 1px;
    background-color: #c2c2c2;
    border: none;
}

.form {
    grid-area: login;
    padding: 50px 20px 0;
    padding-bottom: 0;
    margin-bottom: var(--status-height);
    position: relative;
    display: flex;
    flex-direction: column;
}

.form>* {
    flex-grow: 0;
}

.form>form {
    flex-grow: 1;
}

.form .logo {
    margin: 0 auto 70px;
    width: 100%;
    max-width: 350px;
    display: block;
}

.form span {
    color: var(--primary-button-background-color);
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.form .signin {
    margin-bottom: 40px;
}

.form .signup {
    margin-top: 40px;
}

.form form {
    display: block;
    width: 100%;
}

.form .hint {
    color: #a09fa4;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 30px;
}

.form a.request-reset {
    margin: 25px 0;
    text-align: right;
}

.intro {
    background-color: var(--dark-background-color);
    grid-area: intro;
    margin: 0;
    padding: 30px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto auto var(--status-height);
    grid-template-areas: "logo" "description" "stats" "status";
}

.intro .logo {
    grid-area: logo;
    margin: 0 auto;
    padding: 66px 0 0;
    width: 80%;
    max-width: 380px;
    display: none;
}

.intro header {
    padding: 40px 20px;
    margin: 0 auto;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #ffffff;
    max-width: 380px;
    grid-area: description;
    text-align: left;
}

.logo .st0 {
    fill: #4075C3;
}

svg .st1 {
    fill: #d4d3d1 !important;
}

.logo .st2 {
    fill: #D4D3D1;
}

.logo .st3 {
    fill: #FFFFFF;
}

.logo .st4 {
    fill: #868686;
}

.intro .stats {
    padding: 0 20px 10px;
    grid-area: stats;
}

.actions {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.popover a {
    font-size: 13px;
    color: var(--link-color);
    display: block;
    margin-top: 10px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    grid-area: stat;
    background-color: var(--dark-background-color);
    padding: 30px;
}

.stat {
    flex-grow: 1;
    flex-basis: 0;
    color: var(--dark-color);
    text-align: center;
    font-size: 11px;
    border-right: calc(var(--gutter-width) / 2) solid var(--gutter-color);
    /*border-left: calc(var(--gutter-width) / 2) solid var(--gutter-color);*/
    padding: 0 5px;
}

.stat:first-child {
    border-left: none;
    padding: 0 10px 0 0;
}

.stat:last-child {
    border-right: none;
    padding: 0 0 0 10px;
}

.stat svg {
    color: var(--stat-icon-color);
    font-size: 30px;
    display: block;
    margin: auto;
    width: 100%;
}

.stat span {
    display: block;
    font-size: 30px;
    margin: 7px auto 3px;
    line-height: 30px;
}

.status {
    line-height: var(--status-height);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    grid-area: status;
    font-weight: bold;
    background-color: #222229;
    color: #ffffff;
    padding: 0 20px;
}

.status .value {
    color: #92929b;
    font-size: 14px;
    font-weight: normal;
}

.status .icon {
    vertical-align: middle;
}

@media (min-width: 768px) {
    body {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .map {
        visibility: visible;
    }
    .map:after {
        content: " ";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: 400;
    }
    .popover {
        max-width: 700px;
        margin: 20px auto;
    }
    .popover.session {
        border-radius: 3px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "login" "intro";
    }
    .popover-error {
        grid-template-areas: "login  login" "stat   stat" "status status";
    }
    .form {
        padding: 66px;
        margin-bottom: var(--status-height);
        margin: auto 0;
    }
    .form form {
        display: inline-block;
        max-width: 350px;
    }
    .intro {
        border-right: var(--gutter-width) solid var(--gutter-color);
        padding: 5vh 0 0;
    }
    .intro .logo-small {
        width: 100px;
        height: 100px;
        display: inline-block;
    }
    .intro .logo-small img {
        width: 100%;
    }
    .intro header {
        padding: 0 0 66px;
        max-width: 370px;
        line-height: 30px;
        font-size: 16px;
    }
    .form span {
        display: inline-block;
        vertical-align: top;
        width: 40%;
    }
    .popover .signup, .popover .signin {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .stat {
        font-size: 15px;
    }
    .stat svg, .stat span {
        font-size: 35px;
        line-height: 35px;
    }
}

@media(min-width: 810px) {
    .menu {
        box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 1024px)  {
    .popover {
        max-width: 840px;
    }
    .popover.session {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "intro login";
        margin: 0 40px;
    }
    .intro {
        padding: 30px 0 0;
    }
    .form {
        padding: 0px 40px;
    }

    .form .logo {
        display: none;
    }
    .popover .signup, .popover .signin {
        display: flex;
    }
    .intro .logo {
        padding: 0;
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }
    #login-form .control-label, #request-form .control-label {
        display: none;
    }
    .intro header {
        padding: 20px 0 40px;
        max-width: 330px;
        font-size: 13px;
        line-height: 24px;
    }
    .form span {
        width: 40%;
    }
    .form .signin {
        margin-bottom: 20px;
    }
    .form .signup {
        margin-top: 20px;
    }
    .intro .stats {
        padding: 0 0 10px;
    }
    .stat svg, .stat span {
        font-size: 23px;
        line-height: 27px;
    }
    .stat {
        font-size: 13px;
    }
    .status {
        font-size: 13px;
    }
    .form span {
        font-size: 15px;
        line-height: 15px;
    }
    .form a.request-reset {
        margin: 15px 0;
    }
}