
.dFlex {
    display: flex;
}


/* PLace divs to the end of space */

.placeEnd {
    place-content: end;
}
.mt4 {
    margin-top: 1.5rem;
}

.btn {
    height: 40px;
}

.gap1 {
    gap: 1rem;
}

.w200px {
    width: 200px;
}