

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.borderless {
    border: none;
}
.bg-transparent {
    background-color: transparent;
}
.cursor-pointer {
    cursor: pointer;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-3{
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-5{
  flex: 0 0 41%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-9{
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.ml-2{
    margin-left: 0.5rem!important;
}
.form-group .col-md-3 {
  word-break: break-word;
  margin-right: 0px;
  width: 180px;
}
.control-label {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  min-width: 30%;
}
.has-star:not(.custom-control-label):not(.custom-file-label)::after, .is-required::after {
  content: "*";
  margin-left: 3px;
  font-weight: normal;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: tomato;
}
label.has-star::after {
  content: '*';
  color: red;
}

*:before, *:after {
  box-sizing: inherit;
}
.form-group .col-md-9 {
  width: calc(100% - 180px);
}

.form-horizontal .row .form-group {
  display: flex;
  align-items: flex-start;
}
.align-baseline {
  display: flex;
  align-items: baseline;

}
.container-scrollable-700x400{
  max-height: 400px;
  overflow-y: auto;
  overflow-x: -moz-scrollbars-none;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-x: hidden;
  max-width: 700px;
}
.Section {
  overflow-x: hidden;
}
.text-right {
  text-align: right;
}
.offset-10{
  margin-left: 83.33333%;
}
.w-100 {
  width: 100%;
}
.place-items-end{
  place-items: end;
}
input:disabled{
    background-color: #e9ecef;
}
.place-content-end {
  place-content: end;
}
.col-md-2{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.px-2{
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}
.col-md-3, .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-6, .col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mt-2 {
  margin-top: 0.5rem!important;
}

.mt-5 {
    margin-top: 3rem!important;
}
.react-tags {
  display:flex;
}
.react-tags__label {
  width: 25%;
}

.d-flex {
  display: flex;
}

.align-items-center { 
  align-items: center;
}


.dFlex {
    display: flex;
}


/* PLace divs to the end of space */

.place-end {
    place-content: end;
}
.mt-4 {
    margin-top: 1.5rem;
}

.btn {
    height: 40px;
}

.gap-1 {
    gap: 1rem;
}

.w200px {
    width: 200px;
}