
parameters:
    level: 9
#    bootstrapFiles:
#      - 'tests/constants.php'
    paths:
      - src
      - tests
    dynamicConstantNames:
      - CONSOLE
    checkMaybeUndefinedVariables: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
includes:
  - phpstan-baseline.neon
