$navbar-height: 70px;

$navbar-default-link-color: #DB3C26;
$navbar-default-link-active-color: darken(#DB3C26, 10%);

@import 'bootstrap';

body {
  margin-top: $navbar-height;
}

/* BEGIN Navbar styling */
.nav li.icon a > span {
  vertical-align: middle;
  font-size: 0.8 * $navbar-height;
  line-height: 0.8 * $navbar-height;
}
.nav li.icon a {
  padding: 0.1 * $navbar-height;
}

.nav li a {
  padding: 0.3 * $navbar-height;
  font-size: 0.4 * $navbar-height;
  line-height: 0.4 * $navbar-height;
}


.navbar-brand img {
  height: 0.9 * $navbar-height;
  padding: 0.1 * $navbar-height;
}