$navbar-height: 70px;
// Default value.
$navbar-margin-bottom: 20px;
$navbar-default-link-color: #DB3C26;
$navbar-default-link-active-color: darken(#DB3C26, 10%);

$font-family-base: "Open Sans";
@import 'bootstrap';

@at-root {
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/prime/OpenSans-Regular.ttf") format("truetype");
  }
}


  body {
    margin-top: $navbar-height + $navbar-margin-bottom;
  }

  ///* BEGIN Navbar styling */
  $link-part: 0.5;
  nav .nav > li > a > span {
    vertical-align: middle;
  }

  nav .nav > li > a {
    padding: (1- $link-part) / 2 * $navbar-height;
    font-size: $link-part * $navbar-height;
    line-height: $link-part * $navbar-height;
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-brand img {
    height: $navbar-height;
    padding: 0.1 * $navbar-height;
  }

  h1 {
    a {
      float: right;
      color: lightgrey;
    }
  }


// Sign in with facebook / google / linkedin cleanup.
.auth-clients {
  .auth-client {
    .auth-title {
      //display: none;
    }

    //float: none;
    //display: inline-block;
  }

  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  clear: both;
}

// Add squares.
.button-grid {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid grey;
  width: 100%;
  padding: 0px;


  img {
    width: 100%;
  }
}

.button-grid:hover::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.3);
  content: "";
}
//
//ul.nav > li:not(.dropdown) {
//  a:hover::after {
//    content: " " attr(title);
//    display: block;
//    position: absolute;
//    left: 0;
//    bottom: -10%;
//    font-size: 0.4em;
//  }
//  a {
//    text-align: center;
//  }
//
//
//}