
parameters:
    level: 1
#    bootstrapFiles:
#      - 'tests/constants.php'
    paths:
      - src
      - tests
    dynamicConstantNames:
      - CONSOLE
#    excludePaths:
#      - protected/config/common.php
#      - protected/config/console.php
#      - protected/config/web.php
    checkMaybeUndefinedVariables: true
    reportUnmatchedIgnoredErrors: false
