.popover {
  --color: #505050;
  --padding: 40px;
  --gutter-color: #c4c4c4;
  --gutter-width: 1px;
  --dark-background-color: #424348;
  --darker-background-color: #222328;
  --dark-color: white;
  --status-height: 35px;
  --darker-color: var(--dark-color);
  --primary-button-background-color: #4177c1;
  --link-color: #4177c1;
  --primary-button-color: white;
  --border-color: #7c7b80;
  --stat-icon-color: #a09fa4;

  z-index: 400;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  pointer-events: none;

  .popover-content {
    pointer-events: auto;
    margin: 0 auto;
    max-width: 750px;
    padding-top: var(--padding);
    border-radius: 3px;
    background-color: white;
    position: relative;
    z-index: 400;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto var(--status-height);
    grid-template-areas:
      "intro"
      "login"
      "stat"
      "status";

    a {
      font-size: 13px;
      color: var(--link-color);
      display: block;
      margin-bottom: 5px;
      transition: color 0.3s;
      &:hover {
        color: black;
        transition: color 0.3s;
      }
    }

    .intro {
      padding: 0 var(--padding);
      color: #565656;
      grid-area: intro;
      text-align: justify;
      margin: 0;
      font-weight: 400;
      p {
        padding: 20px 0 0 0;
        line-height: 2em;
        font-size: 16px;
      }
      img {
        max-width: 200px;
        display: block;
        margin: auto;
      }
    }

    .form {
      grid-area: login;
      padding: var(--padding);
      padding-bottom: 0;
      margin-bottom: var(--padding);
      position: relative;
      display: flex;
      flex-direction: column;

      header {
        text-align: center;
        font-size: 24px;
        color: #353535;
        font-weight: 600;
        margin: 0 0 20px 0;
      }

      > * {
        flex-grow: 0;
      }

      form {
        flex-grow: 1;
        
        label {
          display: none;
        }
      }

      .actions {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
      }
    }

    .stats {
      display: flex;
      flex-wrap: wrap;
      grid-area: stat;
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: var(--dark-background-color);

      .stat {
        flex-grow: 1;
        flex-basis: 0;
        color: var(--dark-color);
        text-align: center;
        font-size: 16px;
        border-right: calc(var(--gutter-width) / 2) solid var(--gutter-color);
        /*border-left: calc(var(--gutter-width) / 2) solid var(--gutter-color);*/
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
        svg {
          color: var(--stat-icon-color);
          font-size: 40px;
          display: block;
          margin: auto;
        }
        span {
          display: block;
          margin: auto;
          font-size: 48px;
        }
      }
    }

    .status {
      line-height: var(--status-height);
      text-align: center;
      font-size: 16px;
      grid-area: status;
      font-weight: bold;
      background-color: #222229;
      color: #ffffff;
      border-radius: 0 0 3px 3px;
      .value {
        color: #92929b;
        font-size: 14px;
        font-weight: normal;
      }
      .icon {
        vertical-align: middle;
      }
    }
  }
}

@media (min-width: 710px) {
  .popover {
    .popover-content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto var(--status-height);
      grid-template-areas:
        "intro  login"
        "stat   stat"
        "status status";

      .intro {
        border-right: var(--gutter-width) solid var(--gutter-color);
        margin-bottom: var(--padding);
        padding-bottom: 0;
        img {
          max-width: calc(100% - 64px);
        }
      }

      .form {
        flex-grow: 0;
      }
    }
  }
}
