
html[lang=ar] {
    direction: rtl;
}

html[lang=ar] .wy-nav-content-wrap {
    margin-left: unset;
    margin-right: 300px;
}

html[lang=ar] .rst-versions, html[lang=ar] .wy-nav-side {
    left: unset;
    right: 0;
}

html[lang=ar] .rst-content .admonition-title::before {
    margin-right: unset;
    margin-left: 4px;
}

html[lang=ar] .rst-content .section ol li, html[lang=ar] .rst-content .section ul li {
    margin-left: unset;
    margin-right: 24px;
}

html[lang=ar] .wy-menu-vertical li span.toctree-expand, html[lang=ar] .wy-menu-vertical li span.toctree-collapse {
    margin: 0;
    position: absolute;
    top: 0.4em;
    right: 0.4em;
}