
html[lang=ar] {
    direction: rtl;
}

.wy-nav-content-wrap:dir(rtl) {
    margin-left: unset;
    margin-right: 300px;
}

.rst-versions:dir(rtl), .wy-nav-side:dir(rtl) {
    left: unset;
    right: 0;
}

.rst-content .admonition-title:dir(rtl)::before {
    margin-right: unset;
    margin-left: 4px;
}

.rst-content .section ol li:dir(rtl), .rst-content .section ul li:dir(rtl) {
    margin-left: unset;
    margin-right: 24px;
}

.wy-menu-vertical li span.toctree-expand:dir(rtl), .wy-menu-vertical li span.toctree-collapse:dir(rtl)
{
    margin: 0;
    position: absolute;
    top: 0.4em;
    right: 0.4em;
}