/**
 * This CSS file is menu widget
 */
.menu h1 {
    text-transform: capitalize;
    font-size: 1em;
    letter-spacing: 0.6em;
    /* This centers the text (since we have 0.8em after each char due to letter-spacing*/
    margin-right: -0.6em;
    margin-top: 0;
    text-align: center;
}

.menu hr {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    grid-area: separator;
}
.menu li {
    list-style: none;
    padding-left: 2em;
}


.menu ul {
    margin: 0;
}

.menu {
    overflow: hidden;
    --animation-duration: 500ms;
    --indicator-width: 3px;
    --indent: 20px;
    --item-padding-vertical: 10px;
    padding-top: 10px;
    position: relative;
    background-color: white;
    grid-area: sidebar;
    font-size: 1em;
    z-index: 10000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
            "image"
            "title"
            "separator"
            "nav"
            "footer"
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.menu .footer .left, .menu .footer .right {
    display: inline;
    font-size: 48px;
    position: absolute;;
    padding: 0;
    top: calc((100% - 48px - var(--status-height)) / 2);
    line-height: 144px;
    margin: 0;
    width: auto;
    color: #92929b;
    border: none;
    cursor: pointer;
    left: 20px;

}


.menu .footer .right {
    right: 20px;
    left: auto;
    /*line-height: 144px;*/
}
.menu .footer .right svg, .menu .footer .left svg{
    /*height: 100%;*/
}

.menu .footer .left:hover, .menu .footer .right:hover {
    background-color: #92929b;
    color: var(--header-background-color);
}

.menu .footer .counter {
    font-size: 48px;
}

.menu .footer div.subject {
    font-size: 16px;
    margin-bottom: 20px;
}

.menu nav {
    grid-area: nav;
    overflow-y: auto;
}

.menu nav > a, .menu nav > button, .menu nav > section > header > a {
    font-weight: 600;
}

.menu a, .menu button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    border-left: var(--indicator-width) solid transparent;
    display: block;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: var(--item-padding-vertical);
    padding-bottom: var(--item-padding-vertical);
    overflow: hidden;
    outline:none;
    max-height: 3em;
    transition: max-height var(--animation-duration),
    padding-top var(--animation-duration),
    padding-bottom var(--animation-duration);
}

.menu a, .menu button, .menu a:visited {
    color: inherit;
}

.menu a.active, .menu button.active {
    border-left: var(--indicator-width) solid var(--highlight-background-color);
    color: var(--highlight-background-color);
}

.menu header:not(.expanded) ~ a {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.menu header {
    position: relative;
    cursor: pointer;
}

.menu header .icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    margin-right: 10px;
    margin-top: var(--item-padding-vertical);
}

.menu header.expanded .collapsed-only {
    display: none;
}
.menu header:not(.expanded) .expanded-only {
    display: none;
}

.menu section > a {
    padding-left: calc(2 * var(--indent) - var(--indicator-width));
    background-color: #f3f3f3;
}

.menu a:hover, .menu button:hover {
    color: var(--highlight-background-color);
    /*background-color: var(--highlight-background-color);*/
    /*color: white;*/
    /*border-left-color:white;*/
}

.menu .footer {
    background-color: var(--header-background-color);
    text-align: center;
    color: var(--header-color);
    position: relative;
    grid-area: footer;
    padding-top: 20px;
    font-size: 48px;
}

.menu .footer .stats div > svg {
    font-size: 32px;
    color: #92929b;
}

.menu .footer .stats > div {
    display: none;
}
.menu .footer .stats > div:first-child {
    display: block;
    animation: fadein 2s;
}

.menu img {
    position: initial;
    grid-area: image;
    display: block;
    max-height: 100px;
    max-width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
    .menu img {
        position: initial;
        grid-area: image;
        display: block;
        max-height: 100px;
        max-width: 170px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}