/**
 * This CSS file is menu widget
 */

.menu hr {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    grid-area: separator;
}
.menu li {
    list-style: none;
    padding-left: 2em;
}

.menu ul {
    margin: 0;
}

.menu {
    --animation-duration: 500ms;
    --indicator-width: 3px;
    --indent: 20px;
    --item-padding-vertical: 14px;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    border-radius: 5px;
    border-top-right-radius: 0px;
    background-color: white;
    grid-area: sidebar;
    font-size: 1em;
    z-index: 10000;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: 
        "image"
        "title"
        "separator"
        "nav"
        "footer";
}
.menu h1 {
    color: #4c4c4c;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 8px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}
.menu img {
    position: initial;
    grid-area: image;
    display: block;
    max-height: 100px;
    max-width: 170px;
    width: 100%;
    margin: 10px auto;
}

.menu .footer .left, .menu .footer .right {
    display: inline;
    font-size: 48px;
    position: absolute;
    padding: 0;
    top: calc((100% - 48px - var(--status-height)) / 2);
    line-height: 144px;
    margin: 0;
    width: auto;
    color: #92929b;
    border: none;
    cursor: pointer;
    left: 20px;
}
.menu .footer .right {
    right: 20px;
    left: auto;
}

.menu .footer .right svg, .menu .footer .left svg {
    /*height: 100%;*/
}

.menu .footer .left:hover, .menu .footer .right:hover {
    background-color: #92929b;
    color: var(--header-background-color);
}

.menu .footer .counter {
    font-size: 48px;
}

.menu .footer div.subject {
    font-size: 16px;
    margin-bottom: 20px;
}

.menu nav {
    padding: 0 0px 30px 0;
    grid-area: nav;
    overflow-y: auto;
}

.menu nav a, .menu nav button {
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    text-align: left;
    background: none;
    border: none;
    border-left: var(--indicator-width) solid transparent;
    display: block;
    text-decoration: none;
    position: relative;
    padding-left: 25px;
    box-sizing: border-box;
    padding-top: var(--item-padding-vertical);
    padding-bottom: var(--item-padding-vertical);
    overflow: hidden;
    outline: none;
    transition: max-height 500ms, padding-top 500ms, padding-bottom 500ms, color 250ms;
}

.menu nav a.active, .menu nav button.active {
    border-left: var(--indicator-width) solid #3e75c4;
    color: #3e75c4;
}

.menu nav a:hover, .menu nav button:hover {
    color: #3e75c4;
}
.menu nav section a {
    background-color: #f3f3f3;
    font-size: 14px;
    line-height: 14px;
}
.menu nav section header {
    position: relative;
    cursor: pointer;
}
.menu nav section header a {
    background-color: white;
    font-size: 18px;
    line-height: 18px;
}
.menu nav section header .icon {
    color: #bbb;
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
    margin-top: var(--item-padding-vertical);
}
.menu nav section header .icon.right {
    display: block;
}
.menu nav section header .icon.down {
    display: none;
}
.menu nav section header.expanded .icon.right {
    display: none;
}
.menu nav section header.expanded .icon.down {
    display: block;
}

.menu nav section header:not(.expanded)~a {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.menu nav section header.expanded .icon {

}

.menu nav>a, .menu nav>button, .menu nav>section>header>a {
    font-weight: 600;
}

.menu a, .menu button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    border-left: var(--indicator-width) solid transparent;
    display: block;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: var(--item-padding-vertical);
    padding-bottom: var(--item-padding-vertical);
    overflow: hidden;
    outline: none;
    max-height: 3em;
    transition: max-height var(--animation-duration),
        padding-top var(--animation-duration),
        padding-bottom var(--animation-duration);
}

.menu a, .menu button, .menu a:visited {
    color: inherit;
}

.menu a.active, .menu button.active {
    border-left: var(--indicator-width) solid var(--highlight-background-color);
    color: var(--highlight-background-color);
}

.menu header:not(.expanded)~a {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.menu header {
    position: relative;
    cursor: pointer;
}

.menu header .icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    margin-right: 10px;
    margin-top: var(--item-padding-vertical);
}

.menu header.expanded .collapsed-only {
    display: none;
}
.menu header:not(.expanded) .expanded-only {
    display: none;
}

.menu section>a {
    padding-left: calc(2 * var(--indent) - var(--indicator-width));
    background-color: #f3f3f3;
}

.menu a:hover, .menu button:hover {
    color: var(--highlight-background-color);
    /*background-color: var(--highlight-background-color);*/
    /*color: white;*/
    /*border-left-color:white;*/
}

.menu .footer {
    background-color: var(--header-background-color);
    text-align: center;
    color: var(--header-color);
    position: relative;
    grid-area: footer;
    padding-top: 20px;
    font-size: 48px;
    display: block;
}

.menu .footer .stats div>svg {
    font-size: 32px;
    color: #92929b;
}

.menu .footer .stats>div {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.menu .footer .stats>div:first-child {
    display: block;
    animation: fadein 2s;
}


@media (min-width: 600px) {
    .menu.foldable {
        position: absolute;
        height: 120px;
        transition: height 0.2s;
    }
    .menu.foldable.expanded {
        position: absolute;
        height: 100%;
    }
    .menu.foldable .toggleMenu {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .menu.foldable img {
        max-height: 72px;
        max-width: 140px;
        transition: max-width 0.2s, max-height 0.2s;
    }
    .menu.foldable.expanded img {
        max-height: 100px;
        max-width: 170px;
    }
    .menu.foldable .toggleMenu {
        display: none;
    }
    .menu.foldable.expanded .toggleMenu.icon.right {
        display: none;
    }
    .menu.foldable.expanded .toggleMenu.icon.down {
        display: block;
    }
    .menu.foldable .toggleMenu.icon.right {
        display: block;
    }
    .menu.foldable .toggleMenu.icon.down {
        display: none;
    }
}
@media (min-width: 810px) {
    .menu {
        width: 285px;
        box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    }
}