/**
 * This CSS file is menu widget
 */
.menu h1 {
    color: #4c4c4c;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 8px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}

.menu hr {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    grid-area: separator;
    background: #e1e0de;
    border: none;
    width: 100%;
    height: 1px;
}
.menu li {
    list-style: none;
    padding-left: 2em;
}


.menu ul {
    margin: 0;
}

.menu {
    overflow: hidden;
    --animation-duration: 500ms;
    --indicator-color: #3e75c4;
    --indicator-width: 4px;
    --indent: 20px;
    --item-padding-vertical: 18px;
    --side-width: 285px;
    padding-top: 10px;
    position: relative;
    border-bottom-right-radius: 5px;
    background-color: white;
    grid-area: sidebar;
    font-size: 1em;
    z-index: 10000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
            "image"
            "title"
            "separator"
            "nav"
            "footer"
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.menu .footer .left, .menu .footer .right {
    display: inline;
    font-size: 48px;
    position: absolute;;
    padding: 0;
    top: calc((100% - 48px - var(--status-height)) / 2);
    line-height: 144px;
    margin: 0;
    width: auto;
    color: #92929b;
    border: none;
    cursor: pointer;
    left: 20px;

}


.menu .footer .right {
    right: 20px;
    left: auto;
    /*line-height: 144px;*/
}

.menu .footer .left:hover, .menu .footer .right:hover {
    background-color: #92929b;
    color: var(--header-background-color);
}

.menu .footer .counter {
    font-size: 48px;
}

.menu .footer div.subject {
    font-size: 16px;
    margin-bottom: 20px;
}

.menu nav {
    padding: 0 0px 30px 0;
    grid-area: nav;
    overflow-y: auto;
}



.menu nav a, .menu nav button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    border-left: var(--indicator-width) solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    max-height: 3em;
    outline:none;
    overflow: hidden;
    padding-bottom: var(--item-padding-vertical);
    padding-left: 25px;
    padding-top: var(--item-padding-vertical);
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: max-height var(--animation-duration), padding-top var(--animation-duration), padding-bottom var(--animation-duration);
    color: black;
    transition: border 0.3s, color 0.3s;
}

.menu nav a.active, .menu nav button.active {
    border-left: var(--indicator-width) solid var(--indicator-color);
    color: var(--indicator-color);
    transition: border 0.3s, color 0.3s;
}

.menu nav a:hover, .menu nav button:hover {
    color: var(--indicator-color);
    border-left: var(--indicator-width) solid var(--indicator-color);
}
.menu nav section a {
    background-color: #f3f3f3;
    font-size: 14px;
    line-height: 14px;
    max-height: none;
}
.menu nav section header {
    position: relative;
    cursor: pointer;
}
.menu nav section header a {
    background-color: white;
    font-size: 18px;
    line-height: 18px;
}
.menu nav section header .icon {
    color: #bbb;
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
    margin-top: var(--item-padding-vertical);
}

.menu nav section header:not(.expanded)~a {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}



.menu a, .menu button, .menu a:visited {
    color: inherit;
}

.menu header:not(.expanded) ~ a {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.menu header {
    position: relative;
    cursor: pointer;
}

.menu header .icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    margin-right: 10px;
    margin-top: var(--item-padding-vertical);
}

.menu header.expanded .collapsed-only, .menu.expanded > .collapsed-only {
    display: none;
}
.menu header:not(.expanded) .expanded-only, .menu:not(.expanded) > .expanded-only {
    display: none;
}

.menu:not(.collapsible) > .expanded-only {
    display: none;
}

.menu section > a {
    padding-left: calc(2 * var(--indent) - var(--indicator-width));
    background-color: #f3f3f3;
}

.menu a:hover, .menu button:hover {
    color: var(--highlight-background-color);
    /*background-color: var(--highlight-background-color);*/
    /*color: white;*/
    /*border-left-color:white;*/
}

.menu .footer {
    background-color: var(--header-background-color);
    text-align: center;
    color: var(--header-color);
    position: relative;
    display: none;
    grid-area: footer;
    padding-top: 20px;
    font-size: 48px;
}

.menu .footer .stats div > svg {
    font-size: 32px;
    color: #92929b;
}

.menu .footer .stats > div {
    display: none;
}
.menu .footer .stats > div:first-child {
    display: block;
    animation: fadein 2s;
}

.menu .footer .status {
    line-height: var(--status-height);
    text-align: center;
    font-size: 16px;
    grid-area: status;
    font-weight: bold;
    background-color: #222229;
    color: #ffffff;
}

.menu .footer .status .value {
    color: #92929b;
    font-size: 14px;
    font-weight: normal;
}

.menu .footer .status .icon {
    vertical-align: middle;
}
.menu img {
    position: initial;
    grid-area: image;
    display: block;
    max-height: 50px;
    max-width: 190px;
    width: 100%;
    margin: 10px auto;
    transition: max-width var(--animation-duration), max-height var(--animation-duration);
}


@media (min-width: 600px) {
    .menu img {
        position: initial;
        grid-area: image;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
        margin-right: auto;
    }
}

/**
 Since we cannot (yet) use variables in media queries, we hard-code the breakpoint for single column layout.
 */
@media (min-width: 800px) {
    .menu {
        width: var(--side-width);
    }
    .menu.collapsible {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    }

    .menu .footer {
        display: block;
    }
}

.menu.collapsible {
    height: 100%;
    transition-duration: var(--animation-duration);
    transition-property: height;
}
.menu.collapsible:not(.expanded) {
    height: 85px;
}

.menu .toggle {
    position: absolute;
    right: 22px;
    margin: 0;
    padding: 0;
    top: 26px;
    font-size: 30px;
}
.menu .toggle svg.icon {
    fill:#a5a5a5;
}
.menu.collapsible:not(.expanded) {
    
}
